<!DOCTYPE html>
<html>
  	<head>
  		  <% include ./head %>
  	</head>
  
  	<body>
  
  		<header>
        	<% include ./header %>
        
    	</header>
    
    	<main>
     <section class="main-content">				
				<div class="row">
					<div class="span9">					
						<% if(values.length=='0'){ %>	
						<h1 style="color:#FF0000"> You have not placed any orders yet</h1>
						<% } else{ %> 
						<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
	
	
<% for(i in values) { %>
<div class="column">
    <div class="col-md-4 ">
        <div class="col-md-8 well">
	
	<img src="<%= values[i].image %> " style="width:150px;height:150px" />
	<div class="row"><Strong>Item code : </Strong><%- values[i].item_code %> </div>
 <div class="row"><Strong>Item price : </Strong><%- values[i].price %> </div>
	<div class="row"><Strong>Gender : </Strong><%- values[i].gender %> </div>
	<div class="row"><Strong>Style : </Strong><%- values[i].style %> </div>
	<div class="row"><Strong>Type : </Strong><%- values[i].type %> </div>
	<div class="row"><Strong>Quantity Order: </Strong><%- values[i].quantity %> </div>  
	<div class="row"><Strong>Order Status: </Strong><%- values[i].status %> </div>  				
		
	    	</div>
    </div>
</div>
 
 <% } %> 	
 
		</div>
	</div>
</div>
						<% } %>
						

	
					</div>
				</div>
</section>
      
      <div class="container" style="text-align:right;">
       <a href="/" class="btn btn-info btn-lg" style="color: #ffffff; background-color: #000000">
          <span class="glyphicon glyphicon-arrow-left"></span> Continue Shopping
        </a>
    </div>
       
    	</main>
    </body>
    
<footer>
   <% include ./footer %>
</footer>
  
</html>