<!DOCTYPE html>
<html>
	<script	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
    <% include ./head %>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- Loading the AngularJS file from /public/angularJS folder -->
	<script src="angularjs/cart.js"></script>
       
</head>

<header>
   <% include ./header %>
</header>

 <body ng-app="cart" ng-controller="cart">

<h2> <%- show %> </h2>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<% for(i in values) { %>
						<% if(values[i].avail_count>0){ %>	
							<div class="column">
    							<div class="col-md-4 ">
        							<div class="col-md-8 well">	
										<img src="<%= values[i].image %> " style="width:150px;height:150px" />
										<div class="row"><Strong>Item code : </Strong><%- values[i].item_code %> </div>
 										<div class="row"><Strong>Type : </Strong><%- values[i].type %> </div>
										<div class="row"><Strong>Gender : </Strong><%- values[i].gender %> </div>
										<div class="row"><Strong>Style : </Strong><%- values[i].style %> </div>
										<div class="row"><Strong>Item price : </Strong><%- values[i].price %> </div>
										<button ng-click="addCart('<%- values[i].item_code %>');"> Add to Cart</button>		
	    							</div>
    							</div>
							</div>
						<% } else{ %> 
								<div class="column">
    								<div class="col-md-4 ">
        								<div class="col-md-8 well">
											<img src="<%= values[i].image %> " style="width:150px;height:150px" />
											<div class="row"><Strong>Item code : </Strong><%- values[i].item_code %> </div>
 											<div class="row"><Strong>Type : </Strong><%- values[i].type %> </div>
											<div class="row"><Strong>Gender : </Strong><%- values[i].gender %> </div>
											<div class="row"><Strong>Style : </Strong><%- values[i].style %> </div>
											<div class="row"><Strong>Item price : </Strong><%- values[i].price %> </div>
											<h5 style="color:#FF0000"> Out of Stock </h5>		
								    	</div>
    								</div>
								</div>
						<% } %> 
 				<% } %> 	
			</div>
		</div>
	</div>

</body>

<footer>
 	 <% include ./footer %>
</footer>
  

</html>